@using Photocopy.Entities.Dto.WebUI;
@model Photocopy.Entities.Dto.WebUI.OrderInfoDto
@{
    ViewData["Title"] = "sipariş Detay";
    Layout = "_Layout";
}

@section customStyle {
    <link rel="stylesheet" href="./css/siparis-detay.css" />
    <style>
        #fatura-detay .main .sepeteEkleSonuc .header p {
            color: #f84a00;
        }        
    </style>
}

<main>
    <div class="container">
        <!-- BREADCRUMB -->
        <p class="breadcrumb"><a href="/">Anasayfa</a> > Sipariş Detay</p>
        @if (Model!=null)
        {
            <section id="fatura-detay" class="detay">
                <div class="header">
                    <h2>Şipariş Numarası : @Model.OrderId</h2>
                    <p class="siparis-no">@Model.OrderState.Text</p>
                </div>
                <div class="side">
                    <h3>Sipariş Veren</h3>
                    <p>@Model.Customer.Name @Model.Customer.LastName</p>
                    <p>@Model.Customer.Email</p>
                    <p>@Model.Customer.PhoneNumber</p>
                    <p>@Model.Customer.City</p>
                    <p>@Model.Customer.Adrress</p>
                    <p>@Model.Notes</p>
                </div>
                <div class="main">
                    <h3>Sipariş Detay</h3>


                    @foreach (var item in Model.OrderDetail)
                    {
                        <div class="sepeteEkleSonuc " id="sepeteEkleSonuc">
                            <div class="header">
                                <p id="sepeteEkleDosyaAdi">@item.OrderDetailId -  @item.FileName</p>
                            </div>
                            <div class="body">
                                <img src="./images/kagit.svg" alt="" />

                                <div class="bilgiler">
                                    <div class="pWrapper">
                                        <p>
                                            <span class="property">Özellik</span>
                                            <span class="secimler"> @item.Properties </span>
                                        </p>
                                        <p>
                                            <span class="property">Baskı</span> <span class="secimler">@item.PrintDetail</span>
                                        </p>
                                        <p>
                                            <span class="property">Fiyat</span>
                                            <span class="secimler">@item.PriceDetail</span>
                                        </p>
                                    </div>
                                    <div class="toplamFiyat">
                                        <div>
                                            <p class="text">Toplam Fiyat</p>
                                            <p class="fiyat">@item.Price TL</p>
                                        </div>
                                    </div>
                                </div>
                            </div>
                            <div class="mobileToplamFiyat" id="mobileToplamFiyat">
                                <div class="trash-div">
                                    <img src="./images/trash-icon.svg" alt="" />
                                </div>
                                <div class="toplamFiyat">
                                    <div>
                                        <p class="text">Toplam Fiyat</p>
                                        <p class="fiyat">@item.Price TL</p>
                                    </div>
                                </div>
                            </div>
                        </div>
                    }
                    <div class="kargo-ucreti">
                        <p class="left"><span>Kargo Ücreti</span> (@Model.CargoCompanyName)</p>
                        <p class="right">@Model.CargoCompanyPrice TL</p>
                    </div>
                    <hr />
                    <div class="ucret-toplam">
                        <p class="kk">@(Model.PaymentType == "2" ? "Havale(EFT)":"Kredi Kartı") Ödemesi</p>
                        <p class="genel-toplam">Genel Toplam Fiyat : <span>@Model.TotalPrice TL</span></p>
                    </div>
                    <hr/>
                    @if (Model.PaymentState == PaymentState.NotPayment)
                    {
                        <div id="paymentIframe" class="modal inputs-modal" style="display:block;width:100%;height:100%;background-color: #8d8c8c6e;" onclick="modalClose('paymentIframe')">
                            <!-- Modal content -->
                            <div class="modal-content" style="width:50%;height:70%">
                                <span class="close">&times;</span>
                                <iframe sandbox="allow-same-origin allow-scripts allow-popups allow-forms" src="/odeme-sayfasi?price=@Model.TotalPrice&id=@Model.OrderId" style="width:100%;height:100%">
                                </iframe>
                            </div>
                        </div>
                        @*                 <form action="/payment" method="post" class="form-horizontal">
                            <fieldset>
                                <!-- Form Name -->
                                <legend><label style="font-weight:bold;width:250px;">Kart Bilgileriyle Ödeme</label></legend>
                                <!-- Text input-->
                                <div class="form-group">
                                    <label class="col-md-4 control-label" for="">Kart Sahibi Adı Soyadı (*):</label>
                                    <div class="col-md-4">
                                        <input value="Fatih Coşkun" name="nameSurname" class="form-control input-md" required>
                                    </div>
                                </div>
                                <div class="form-group">
                                    <label class="col-md-4 control-label" for="">Kart Numarası (*):</label>
                                    <div class="col-md-4">
                                        <input value="4508034508034509" name="cardNumber" class="form-control input-md" required>
                                    </div>
                                </div>
                                <div class="form-group">
                                    <label class="col-md-4 control-label" for="">Son Kullanma Tarihi Ay/Yıl (*):</label>
                                    <div class="col-md-1">
                                        <input name="month"
                                       type="text"
                                       value="12"
                                       class="form-control input-md"
                                       required />
                                    </div>
                                    <div class="col-md-1">
                                        <input name="year"
                                       type="text"
                                       value="24"
                                       class="form-control input-md"
                                       required />
                                    </div>
                                </div>
                                <div class="form-group">
                                    <label class="col-md-4 control-label" for="">CVC (*):</label>
                                    <div class="col-md-4">
                                        <input value="000" name="cvc" class="form-control input-md" required>
                                    </div>
                                </div>
                                <div class="form-group">
                                    <label class="col-md-4 control-label" for="">Tutar (**):</label>
                                    <div class="col-md-4">
                                        <input value="10000" name="amount" class="form-control input-md" required>
                                    </div>
                                </div>
                                <div class="form-group">
                                    <label class="col-md-4 control-label" for="">Taksit (Opsiyonel):</label>
                                    <div class="col-md-4">
                                        <select class="form-control input-md" name="installment">
                                            <option value="">Seçiniz</option>
                                            <option value="1">1</option>
                                            <option value="2">2</option>
                                            <option value="3">3</option>
                                            <option value="4">4</option>
                                            <option value="5">5</option>
                                            <option value="6">6</option>
                                            <option value="7">7</option>
                                            <option value="8">8</option>
                                            <option value="9">9</option>
                                            <option value="10">10</option>
                                            <option value="11">11</option>
                                            <option value="12">12</option>
                                        </select>
                                    </div>
                                </div>
                            </fieldset>
                            <!-- Button -->
                            <div class="form-group">
                                <label class="col-md-4 control-label" for=""></label>
                                <div class="col-md-4">
                                    <button type="submit" id="" name="" class="btn btn-success">3D Ödeme</button>
                                </div>
                            </div>
                            <p>** Sipariş tutarı kuruş ayracı olmadan gönderilmelidir. Örneğin; 1 TL 100, 12 1200, 130 13000, 1.05 105, 1.2 120 olarak gönderilmelidir.</p>
                        </form>

                        <section id="iletisim-form">
                            <div class="wrapper">

                                @using (Html.BeginRouteForm("sendmail", FormMethod.Post, new { autocomplete = "off", id = "iletisim-form" }))
                        {
                                <form autocomplete="off" id="frm-contact">
                                    <input type="text" placeholder="Ad Soyad" name="Fullname" />
                                    <div>
                                        <input type="mail" id="iletisim-mail-input" placeholder="E-mail" name="Email" />
                                        <span class="error" id="mail-error">Lütfen geçerli bir e-mail adresi girin.</span>
                                    </div>

                                    <input type="text" placeholder="Telefon" name="PhoneNumber" />
                                    <textarea rows="3" placeholder="Mesajınız" name="Message"></textarea>
                                    <button type="button">GÖNDER</button>
                                </form>

                                }
                            </div>
                        </section>*@
                    }
                </div>
            </section>
            
        }
        else
        { <section id="fatura-detay" class="detay">
                <div class="header">
                    <p class="siparis-no">Sipariş Bulunamadı</p>
                </div>
            </section>
        }
      
    </div>
</main>