@*@model WebUI.Model.SelectDto

<div class="form-group">
    <label class="col-lg-3 control-label">@Model.Label</label>
    <div class="col-lg-4">
        <select id="@Model.Name" name="@Model.Name"  class="form-control @Model.CssClass">
            <option value="">@Model.PlaceHolder</option>
            @foreach (var item in Model.Items)
            {
            <option value="@item.Id" @(item.Id == Model.SelectedValue ? "selected" : "")>@item.Name</option>
            }
        </select>
    </div>
</div>*@